@import "./_reset.scss";
@import "./_common.scss";
@import "https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap";

body {
    background-color: #E5E5E5;
    font-family: 'Karla', sans-serif;
}

.header {
    padding: 28px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__menu {
        display: flex;
        gap: 0 30px;
    }
}

.wrapper {
    height: 530px;
    background-color: #050827;
    color: rgba(255, 255, 255, 1);
}

.main {
    background-image: url('../assets/bcg1.png');
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &__h1 {
        @include font-setting (400, 47px, 60px);
        padding: 10px 0;
    }
    &__text {
        @include font-setting (400, 17px, 30px);
        margin-bottom: 38px;
    }
    &__btn { 
        font-family: 'Karla', sans-serif;
        padding: 8px 24px 7px;
        @include font-setting (700, 12px, 18px);
        letter-spacing: 2px;
        text-transform: uppercase;
        color:rgba(29, 31, 46, 1);
        background-color:rgba(255, 255, 255, 1);
        border: none;
        border-radius: 2px;
        cursor: pointer;
    }
}

.deskribe {
    padding: 123px 0 102px;
    color: #1D1F2E;
    max-width: 660px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px 0;
    &__h2 {
        @include font-setting (400, 28px, 40px);
        max-width: 578px;
    }
    &__text {
        @include font-setting (400, 16px, 28px);
        color: rgba(29, 31, 46, 0.7);
    }
    &__link {
        @include font-setting (400, 15px, 28px);
        color: rgba(162, 95, 75, 1);
        border-bottom: 2px solid rgba(162, 95, 75, 0.2);
        transition: 0.2s ease;
    }
    &__link:hover {
        border-bottom: 2px solid rgba(162, 95, 75, 0.9);
    }
}

.offers {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 115px;
    &__h4 {
        display: flex;
        color: rgba(29, 31, 46, 1);
        margin-bottom: 100px;
    }
    &__wrap {
        display: flex;
        gap: 0 20px;
    }
    &__date {
        margin-top: 16px;
        align-self: start;
    }
    &__bottom {
        margin-bottom: 189px;
    }
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__wrap {
        margin-bottom: 35px;
        overflow: hidden;
    }
    & img {
        transition: 0.2s ease;
    }
    &__h5 {
        @include font-setting (400, 20px, 30px);
        margin-bottom: 5px;
    }
    &__prise {
        @include font-setting (400, 16px, 28px);
        color: rgba(29, 31, 46, 0.7);
        &_or {
            @include font-setting (400, 19px, 32px);
            color: #A25F4B;
        }
        &_cross {
            text-decoration-line: line-through;
            color: rgba(29, 31, 46, 0.2);
            text-decoration-line: line-through;
        }
    }
}

.item:hover img {
    transform: scale(1.15);
}

.more {
    margin-bottom: 165px;
    &__h4 {
        margin-bottom: 100px;
        text-align: center;
    }
    &__wrap {
        display: grid;
        grid-template-areas: "cup1 cup2 cup3";
        gap: 65px 17px;
    }
    &__cup1 {
        grid-area: cup1;
    }
    &__cup2 {
        grid-area: cup2;
    }
    &__cup3 {
        grid-area: cup3;
    }
}

.special {
    margin-bottom: 130px;
    &__h4 {
        text-align: center;
    }
    &__wrap {
        margin-top: 100px;
        display: flex;
        gap: 0 80px;
    }
    &__images {
        display: grid;
        grid-template-areas: "img1 img2" "img1 img3";
        gap: 20px;
    }
    &__img1 {
        grid-area: img1;
    }
    &__img2 {
        grid-area: img2;
    }
    &__img3 {
        grid-area: img3;
    }

    &__describe {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center
    }
    &__h2 {
        @include font-setting (400, 36px, 50px);
        color: #1D1F2E;
        margin: 14px 0 15px;
        max-width: 237px
    }
    &__text {
        @include font-setting (400, 16px, 28px);
        color: rgba(29, 31, 46, 0.7);
        margin-bottom: 25px;
        max-width: 353px;
    }
    &__link {
        padding: 9px 24px;
        background-color: #1D1F2E;
        color: #FFFFFF;
        border: 2px solid transparent;
        transition: 0.2s ease;
    }
    &__link:hover {
        transform: scale(1.05);
        background-color: white;
        border: 2px solid #1D1F2E;
        color: #1D1F2E;
    }
}

.intermediate {
    height: 340px;
    background-image: url('../assets/intermediate.png');
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 100px;
}

.signup-wrap {
    padding: 80px 0 85px;
    background-color: #1D1F2E;
}

.signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    &__h2 {
        max-width: 253px;
        margin: 15px 0 25px;
        color: white;
    }
    &__email {
        min-width: 350px;
        padding: 18px;
        background-color: transparent;
        border: 1px solid #2F303E;
        color: white;
    }
    &__subscribe {
        padding: 18px 25px;
        margin-left: 10px;
        cursor: pointer;
    }
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 107px 0 62px;
    &__main {
        max-width: 258px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__logo {
        margin-bottom: 22px;
    }
    &__text {
        @include font-setting (400, 14px, 22px);
        color: rgba(29, 31, 46, 0.7);
    }
    &__menu {
        display: flex;
        flex-direction: column;
        gap: 10px 0;
        margin-top: 23px;
    }
    &__contact {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__email {
        @include font-setting (400, 23px, 36px);
    }
    &__section a:hover {
        border-bottom: 1px solid  rgba(29, 31, 46, 0.7);
    }
}
